{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}
{% from "export_regulations.html" import export_regulations %}


{% block title %}{% trans trimmed %}Download Fedora Server{% endtrans %}{% endblock %}

{% block content %}

  {{submenu(edition="server", active="download")}}

  <div class="bg-white py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light">{% trans trimmed n=releaseinfo.ga.editions.server.release_number %}Download Fedora {{n}} Server.{% endtrans %}</h1>
          {#<h5 class="font-weight-light">{% trans trimmed %}Your download will finish before we come up with a fancy tagline for this page.{% endtrans %}</h5>#}

        </div>
      </div>
    </div>
  </div>

<!-- This is kept here for special cases where we need to announce something quickly. -->
<!--
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="font-weight-light text-center my-3">
            {% trans trimmed link="https://fedoraproject.org/wiki/Common_F" + releaseinfo.ga.editions.server.release_number|string + "_bugs" %}
            On ARM and having trouble booting? See <a href="{{link}}">Common Bugs</a>.
            {% endtrans %}
          </h4>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3"><h3 class="font-weight-light text-center mb-3">{% trans trimmed %}Fedora Server is available for x86_64 and ARM.{% endtrans %}</h3></div>
        <div class="col-12 col-lg-6">
          <h5 class="font-weight-light">{% trans trimmed %}Using the x86_64 Architecture?{% endtrans %}</h5>
          <ul class="list-group">
            {% if releaseinfo.ga.editions.server.download_override.standard_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.standard_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/iso/Fedora-Server-dvd-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">
                  {% trans trimmed %}Download{% endtrans %}
                </a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/iso/Fedora-Server-netinst-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.qcow2_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: QEMU image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.qcow2_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/images/Fedora-Server-KVM-%d-%s.x86_64.qcow2' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.standard_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for x86_64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.standard_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/x86_64/iso/Fedora-Server-dvd-x86_64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">
                  {% trans trimmed %}Download{% endtrans %}
                </a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for x86_64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/x86_64/iso/Fedora-Server-netinst-x86_64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.qcow2_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: QEMU image for x86_64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.qcow2_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/x86_64/images/Fedora-Server-KVM-%d_Beta-%s.x86_64.qcow2' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
        <div class="col-12 col-lg-6 mt-lg-0 mt-4">
          <h5 class="font-weight-light">{% trans trimmed %}Using the aarch64 Architecture?{% endtrans %}</h5>
          <ul class="list-group">
            {% if releaseinfo.ga.editions.server.download_override.standard_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.standard_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Raw image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/images/Fedora-Server-%d-%s.aarch64.raw.xz' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.ga.editions.server.download_override.qcow2_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: QEMU image for aarch64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.qcow2_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/aarch64/images/Fedora-Server-KVM-%d-%s.aarch64.qcow2' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.standard_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Standard ISO image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.standard_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/iso/Fedora-Server-dvd-aarch64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.netinst_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.netinst_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/iso/Fedora-Server-netinst-aarch64-%d_Beta-%s.iso' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.raw_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: Raw image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.raw_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/images/Fedora-Server-%d_Beta-%s.aarch64.raw.xz' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

            {% if releaseinfo.beta.show and releaseinfo.beta.editions.server.download_override.qcow2_aarch64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.beta.editions.server.release_number %}
                Fedora {{n}}: QEMU image for aarch64
                {% endtrans %}
                <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
              </div>
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.beta.editions.server.download_override.qcow2_aarch64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/test/%d_Beta/Server/aarch64/images/Fedora-Server-KVM-%d_Beta-%s.aarch64.qcow2' % (releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.release_number, releaseinfo.beta.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}


          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="font-weight-light text-center">{% trans trimmed %}Support Resources{% endtrans %}</h2>
        </div>
      </div><br><br>
      <div class="row top-margin">
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-book"></i>{% trans trimmed %}&nbsp; Documentation{% endtrans %}</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}Specific documentation is available at the <a href="https://docs.fedoraproject.org/en-US/fedora-server/">Fedora Server documentation page</a>.{% endtrans %}</h5><br>
          </div>
        </div>
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-envelope"></i>{% trans trimmed %}&nbsp; Support{% endtrans %}</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}Support is available at{% endtrans %} <a href="https://ask.fedoraproject.org/">ask.fedoraproject.org</a>.</h5>
          </div>
        </div>
        <div class="col-md-4 py-4 col-xs-12">
          <div class="col-12">
            <h3 class="font-weight-light"><i class="fa fa-fw fa-lg header-icon fa-comments"></i>&nbsp; Chat</h3><br>
            <h5 class="font-weight-light">{% trans trimmed %}Users and developers are available in the <strong>#server</strong> channel on <a href="https://matrix.to/#/#server:fedoraproject.org?web-instance%5Belement.io%5D=chat.fedoraproject.org">Fedora Chat</a> and in the <strong>#server</strong> tag on <a href="https://discussion.fedoraproject.org/tag/server">Fedora Discussion</a>.{% endtrans %}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-light pb-4">{% trans trimmed %}We take security seriously.{% endtrans %}</h3>
            <p class="font-weight-light">
                {% trans trimmed %}
                Once you have downloaded an image, be sure to verify it for both security and integrity.
                {% endtrans %}
            </p>
            <a href="{{url_for('security', lang_code=lang_code)}}">
              {% trans trimmed %}
              Verify your download.
              {% endtrans %}
            </a>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3 class="font-weight-light pb-4">{% trans trimmed %}But wait! There's more.{% endtrans %}</h3>
          <p class="font-weight-light">
            {% trans trimmed %}
            Need something a bit different? Check out our other Fedora
            Server downloads <a href="https://alt.fedoraproject.org/">here</a>, featuring secondary architectures and
            network-based installation images.
            {% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </div>

    {{export_regulations()}}
{% endblock %}
