{% extends "master_getfedora.html" %}

{% from "editions_card.html" import editions_card with context %}
{% from "submenu.html" import submenu with context %}

{% block title %}{% trans trimmed %}Security and Download Verification{% endtrans %}{% endblock %}

{% block content %}
  <div class="bg-tranparent py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="font-weight-light">{% trans trimmed %}Fedora keeps you safe.{% endtrans %}</h1>
          <h5 class="font-weight-light">{% trans trimmed %}Learn how to verify your downloads.{% endtrans %}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light border py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="font-weight-light pb-4">{% trans trimmed %}Verify your download with CHECKSUM files.{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Once you have downloaded an image, verify it for security and integrity. To verify your image, start by downloading the proper CHECKSUM file into the same directory as the image you downloaded. Then follow three easy steps.
            {% endtrans %}
          </h5>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>
            {% trans trimmed %}
            First, import Fedora's GPG key(s):
            <pre><code>$ curl -O https://getfedora.org/static/fedora.gpg</code></pre>
            Note that you can verify the details of these keys below.
            {% endtrans %}
          </p>
          <p>
            {% trans trimmed %}
            Now, verify that the CHECKSUM file is valid:
            <pre><code>$ gpgv --keyring ./fedora.gpg *-CHECKSUM</code></pre>
            The CHECKSUM file should have a good signature from one of the keys described below.
            {% endtrans %}
          </p>
          <p>
            {% trans trimmed %}
            Lastly, check that your download's checksum matches:
            <pre><code>$ sha256sum -c *-CHECKSUM</code></pre>
            If the output states that the file is valid, then it's ready to use!
            {% endtrans %}
          </p>

        </div>
        <div class="col-6">
          {% for edition, data in releaseinfo.ga.editions.items() if data.get('checksum_arches', {}) %}
          <h6>{{releaseinfo.ga.editions[edition].pretty_name}}</h6>
          <ul>
            {% for arch, artifacts in releaseinfo.ga.editions[edition].checksum_arches.items()|sort %}
              {% for artifact, link_override in artifacts.items()|sort %}
                {% if link_override is not sameas False %}
                  <li>
                    <a href="{{checksum(
                                   link_override,
                                   '%d/%s/%s-%d-%s-%s-CHECKSUM' % (
                                       releaseinfo.ga.editions[edition].release_number,
                                       artifact,
                                       releaseinfo.ga.editions[edition].checksum_prefix,
                                       releaseinfo.ga.editions[edition].release_number,
                                       releaseinfo.ga.editions[edition].rc_version,
                                       arch))}}">
                      Fedora {{releaseinfo.ga.editions[edition].release_number}} {{arch}} ({{artifact}}) CHECKSUM
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
          {% endfor %}
          {% if releaseinfo.beta.show %}
            <hr />
            {% for edition, data in releaseinfo.beta.editions.items() if data.get('checksum_arches', {}) %}
            <h6>{{releaseinfo.beta.editions[edition].pretty_name}}</h6>
            <ul>
              {% for arch, artifacts in releaseinfo.beta.editions[edition].checksum_arches.items()|sort %}
                {% for artifact, link_override in artifacts.items()|sort %}
                  {% if link_override is not sameas False %}
                    <li>
                      <a href="{{checksum(
                                     link_override,
                                     '%d_Beta/%s/%s-%d_Beta-%s-%s-CHECKSUM' % (
                                         releaseinfo.beta.editions[edition].release_number,
                                         artifact,
                                         releaseinfo.beta.editions[edition].checksum_prefix,
                                         releaseinfo.beta.editions[edition].release_number,
                                         releaseinfo.beta.editions[edition].rc_version,
                                         arch))}}">
                        Fedora {{releaseinfo.beta.editions[edition].release_number}} {{arch}} ({{artifact}}) CHECKSUM
                        <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
            {% endfor %}
          {% endif %}

          <hr />

          {# This is epically hacky, it will be fixed up in a future revision of this page. #}
          {# We should *really* work to treat IoT as a regular edition even though it does #}
          {# links super weirdly. This probably means we need to make the checksum link logic #}
          {# a bit more abstract. Injecting the checksum links earlier would at least take the #}
          {# horribleness out of the template layer. #}

          <h6>Fedora IoT</h6>
          <ul>

            {# IoT GA #}
            {% for arch, value in iot['ga']['checksums'].items() %}
              <li>
                {% trans trimmed %}For {{arch}}:{% endtrans %}
                <ul>
                  {% for artifact, link in value.items() %}
                    <li>
                      <a href="{{checksum('default', link, False)}}">
                        Fedora {{ iot['ga']['version'] }} IoT
                        {{arch}} ({{artifact}}) CHECKSUM
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}

            {# IoT Beta #}
            {% if releaseinfo.beta.show and 'beta' in iot %}
              {% for arch, value in iot['beta']['checksums'].items() %}
                <li>
                  {% trans trimmed %}For {{arch}}:{% endtrans %}
                  <ul>
                    {% for artifact, link in value.items() %}
                      <li>
                        <a href="{{checksum('default', link, False)}}">
                          Fedora {{ iot['beta']['version'] }} IoT
                          {{arch}} ({{artifact}}) CHECKSUM
                          <span class="badge badge-primary">{% trans trimmed %}Beta!{% endtrans %}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% endif %}

          </ul>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="font-weight-light pb-4">{% trans trimmed %}Package signing keys.{% endtrans %}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Learn how Fedora uses package signing to help protect you.
            {% endtrans %}
          </h5>

          <p>
            {% trans trimmed %}
            Each stable RPM package published by the Fedora Project is signed with a GPG signature. By default, <code>dnf</code> and the graphical update tools will verify these signatures and refuse to install any packages that are not signed or have bad signatures. You should always verify the signature of a package before you install it. These signatures ensure that the packages you install are what was produced by the Fedora Project and have not been altered (accidentally or maliciously) by any mirror or website that is providing the packages.
            {% endtrans %}
          </p>

          <hr />

          <h3 class="font-weight-light text-center py-5">
            {% trans trimmed %}Here are our current keys:{% endtrans %}
          </h3>

          {% for key_tuple in releaseinfo.gpg_keys.current | batch(2, '&nbsp;') %}
          <div class="row">
            {% for key in key_tuple %}
            {% if key.id %}
            <div class="col-6">
              <h3>{{key.name}}</h3>
              id: <pre><code>{{key.id}}</code></pre>
              Fingerprint: <pre><code>{{key.fingerprint}}</code></pre>
              {% if key.openpgpkey %}
              DNS OpenPGPKey: <pre><code>{{key.openpgpkey}}</code></pre>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
            {% if not loop.last %}<hr />{% endif %}
          {% endfor %}

          <div class="collapse" id="collapseObsolete">
            <hr />

            <h3 class="font-weight-light text-center py-5">
              {% trans trimmed %}Here are our obsolete keys:{% endtrans %}
            </h3>

            {% for key_tuple in releaseinfo.gpg_keys.obsolete | batch(2, '&nbsp;') %}
            <div class="row">
              {% for key in key_tuple %}
              {% if key.id %}
              <div class="col-6">
                <h3>{{key.name}}</h3>
                id: <pre><code>{{key.id}}</code></pre>
                Fingerprint: <pre><code>{{key.fingerprint}}</code></pre>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              {% if not loop.last %}<hr />{% endif %}
            {% endfor %}
          </div>

          <div class="row">
            <div class="col-12">
              <a data-toggle="collapse"
                 class="float-right text-right hide-on-collapse"
                 href="#collapseObsolete"
                 role="button"
                 aria-expanded="false"
                 aria-controls="collapseObsolete">
                {% trans trimmed %}View our obsolete keys &raquo;{% endtrans %}
              </a>
            </div>
          </div>

        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->

  <div class="bg-light border py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h3 class="font-weight-light pb-4">{% trans trimmed %}Found a security bug?{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed wikilink="https://fedoraproject.org/wiki/Security_Bugs#Reporting_a_Security_Vulnerability" %}
            Please take a moment and let us know.
            <a href="{{wikilink}}">Learn how on our wiki page</a>.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div> <!--contatiner-->
  </div> <!-- gradient-->
{% endblock %}
